{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% block title %}
  List of college Availability
{% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "edusol_app/choice02.css" %}">
{% endblock %}
{% block content %}
  <section class ="top">
  <section class= "nav">
    <ul class="navi">
          <li><button type = submit class="retbut"><a href ="{% url "choice-detail-page" %}">&larr;&nbsp;&nbsp;Back</a></button></li>
    </ul>
    <h1>Choice II Options</h1>
    <div class= "ava-unava">
       <a href ="{% url "second-choice-page" %}" id ="ava">Avaliability List</a>
       <a href="{% url "second-choice-page-ua" %}" id ="unava">Unavailability List</a>  
    </div>
  </section> 
  <aside>
    <h3>The total number of choices found are :<span> {{choices_count}}</span></h3>
    <h3>CutOff is : <span>{{cf}}</span></h3>
  </aside> 
  </section>
    <div class="table-disp">  
      <table>
        <tr>
          <th>College Code </th>
          <th>College Name</th>
          <th>Community</th>
          <th>Expected Cutoff</th>
          <th>Branch Code</th>
          <th>Branch Name</th>
        </tr> 
        {% for all_rows in allotment_table %}
          <tr>
            {% for every_column in all_rows%}
              <td>{{ every_column }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div> 
    <script type="text/javascript" src="{% static "edusol_app/main.js" %}"></script>
{% endblock %}